<h2>Register</h2>
<fieldset>
<legend>Enter Your Details</legend>
<div class="form_row">
<form action="/register" method="post">
<label for="screen_name">Screen name:</label>
  <input type="textfield" name="screen_name"><br />
  </div>
  <div class="form_now">
<label for="email">Email:</label>
  <input type="textfield" name="email"><br />
  </div>
  <div class="form_now">
<label for="password">Password:</label>
  <input type="password" name="password">
  </div>
  <div class="form_now" class="submit">
<input type="submit" value="Register!" >
</div>
</fieldset>
  