<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict //EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html>
 <head>
 <title>Kool</title>
 <link type="text/css" src="/views/clojspace/stylesheets/site.css">
 </head>
 <body>
 <div id="whole_page">
 <div id="header"><p>ClojSpace</p></div>
 <div id="error-register"><p></p></div>
 <div id="nav">
 <a href="/site/index">Home</a>|<a href="/site/about">About Us</a>|<a href="/site/help">help</a>|<a href="/site/register">Register</a>
 </div>
 <div id="content"><p></p>
</div>
</div>
 </body>
 </html>