 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <html>
 <head>
 <title>Kool</title>
 <link href="site.css"  rel="stylesheet"  type="text/css"  />
 </head>
 <body>
 <div id="whole_page">
 <div id="header"><p>ClojSpace</p></div>
 <div id="error-register"><p></p></div>
 <div id="nav">
 <a href="/index">Home</a>|<a href="/about">About Us</a>|<a href="/help">help</a>|<a href="/register">Register</a>
 </div>
 <div id="conten">
</div>
</div>
 </body>
 </html>
 
 
